.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  margin: auto;
}
.header {
  display: flex;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}
.nav__link {
  display: flex;
  margin: 8px 0 0;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin-top: 30px;
  margin-right: 80px;
}
.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

.header__title {
  margin: 0;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 28px;
}
.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__footer {
  margin: auto 80px 40px;
}
.header__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-left: 80px;
  margin: 0;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-left: 80px;
  padding-top: 24px;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 215px;
}
.recipes__video-items {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__iframe {
  height: 273px;
  width: 480px;
}
.recipes__video-caption {
  width: 480px;
  margin-top: 24px;
  margin-bottom: auto;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.reservation__tittle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 0%;
  padding-top: 100px;
  text-align: center;
}
.reservation__form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 80px;
  padding-bottom: 120px;
  margin-right: auto;
}
.form__fieldset {
  border: 0;
  margin: auto;
  padding: 0;
}
.fom__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.form__input {
  border-radius: 4px;
  height: 80px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 15px 20px;
}
.form__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /*padding-left: 20px;
  padding-bottom: 15px;*/
}
.form__input_el_date {
  padding-left: 20px;
  padding-bottom: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  background-color: #2f80ed;
  color: #ffffff;
}
.form__button:hover {
  opacity: 70%;
}
.form__label-checkbox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.form__input_el_checkbox {
  margin: 0%;
  width: 20px;
  height: 20px;
}
.form__label-input-checkbox {
  margin-left: 12px;
  height: 20px;
  align-items: center;
}
